base58
certifi
cffi
chardet
cryptography
Django
django-createsuperuser
django-ipfs-storage
idna
ipfsapi
ipfshttpclient
multiaddr
netaddr
psycopg2-binary
pycparser
pytz
requests
six
sqlparse
urllib3
varint
